In [2]:
import pandas as pd
melb_df = pd.read_csv('melb_data.csv', sep = ',')
display(melb_df.head())

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0,"-37.8072, 144.9941"

In [3]:
melb_df['Suburb'].value_counts()
popular_subs =melb_df['Suburb'].value_counts().nlargest(119).index
melb_df['Suburb'] = melb_df['Suburb'].apply(lambda x: x if x in popular_subs else 'other')
melb_df['Suburb'] = melb_df['Suburb'].astype('category')

In [5]:
melb_df['Propertycount'].max()

melb_df['Distance'].std()

melb_df['BuildingArea'].mean()/melb_df['BuildingArea'].median()

1.1082061292867664

In [7]:
melb_data = melb_df
melb_data['Rooms'].mode()

melb_data[melb_data['Bathroom'] == 0].count()

melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000)].count()

melb_data[melb_data['BuildingArea'] == 0]
melb_data[melb_data['BuildingArea'] == 0].min()

melb_data[(melb_data['Price'] <1000000) & ((melb_data['Rooms'] > 5) | (melb_data['YearBuilt'] > 2015))].mean()

melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]['Regionname'].mode()

C:\Users\tanya\AppData\Local\Temp\ipykernel_3532\1075894439.py:9: FutureWarning: The default value of numeric_only in DataFrame.min is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  melb_data[melb_data['BuildingArea'] == 0].min()
C:\Users\tanya\AppData\Local\Temp\ipykernel_3532\1075894439.py:11: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  melb_data[(melb_data['Price'] <1000000) & ((melb_data['Rooms'] > 5) | (melb_data['YearBuilt'] > 2015))].mean()

0    Northern Metropolitan
Name: Regionname, dtype: object

In [8]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
years_sold = melb_df['Date'].dt.year

melb_df['MonthSale'] = melb_df['Date'].dt.month
melb_df['MonthSale'].value_counts(normalize=True)

5     0.149411
7     0.145950
9     0.135862
6     0.134757
8     0.114138
11    0.082032
4     0.069882
3     0.049926
12    0.044698
10    0.040574
2     0.032622
1     0.000147
Name: MonthSale, dtype: float64

In [9]:
delta_days = melb_df['Date'].dt.dayofweek

delta_days[(delta_days == 6) | (delta_days == 5)].count()

melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek
def get_weekend(weekday):
    if weekday == 5 or weekday ==6:
        return 1
    else:
        return 0

    
melb_df['Weekend']=melb_df['WeekdaySale'].apply(get_weekend)
melb_df['Price'][melb_df['Weekend'] == 1].mean()

1081198.6406956792

In [10]:
print(melb_df['SellerG'].nunique())
melb_df['SellerG'][15]
#'Jellis'
melb_df['SellerG'][1584]
#'LITTLE'
melb_df['SellerG'][84]
#"Sotheby's"

268

"Sotheby's"

In [11]:
melb_df['SellerG'].value_counts()

popular_sellers =melb_df['SellerG'].value_counts().nlargest(49).index
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in popular_sellers else 'other')
melb_df['SellerG']

melb_df[melb_df['SellerG'] == 'other'].count()

melb_df[melb_df['SellerG'] == 'other'].min()

melb_df['Price'][melb_df['SellerG'] == 'Nelson'].min()/melb_df['Price'][melb_df['SellerG'] == 'other'].min()
#1.297709923664122

C:\Users\tanya\AppData\Local\Temp\ipykernel_3532\2180377295.py:9: FutureWarning: The default value of numeric_only in DataFrame.min is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  melb_df[melb_df['SellerG'] == 'other'].min()

1.297709923664122

In [12]:
cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car']
max_unique_count = 150
for col in melb_df.columns: # цикл по именам столбцов
    if melb_df[col].nunique() < max_unique_count and col not in cols_to_exclude: # проверяем условие
        melb_df[col] = melb_df[col].astype('category')

In [13]:
melb_df['Type'] = melb_df['Type'].cat.rename_categories({
    'u': 'unit',
    't': 'townhouse',
    'h': 'house'
})

melb_df['Type'] = melb_df['Type'].cat.add_categories('flat')
melb_df.info()

melb_df['Suburb'].value_counts()
popular_subs =melb_df['Suburb'].value_counts().nlargest(119).index
melb_df['Suburb'] = melb_df['Suburb'].apply(lambda x: x if x in popular_subs else 'other')
melb_df['Suburb'] = melb_df['Suburb'].astype('category')
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  category
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  category
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  category
 7   SellerG        13580 non-null  category
 8   Date           13580 non-null  datetime64[ns]
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  category
 17  CouncilArea    12211 non-null  category
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  category
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
 23  MonthSale      13580 non-null  category
 24  WeekdaySale    13580 non-null  category
 25  Weekend        13580 non-null  category
dtypes: category(10), datetime64[ns](1), float64(10), int64(3), object(2)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  category
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  category
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  category
 7   SellerG        13580 non-null  category
 8   Date           13580 non-null  datetime64[ns]
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  category
 17  CouncilArea    12211 non-null  category
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  category
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
 23  MonthSale      13580 non-null  category
 24  WeekdaySale    13580 non-null  category
 25  Weekend        13580 non-null  category
dtypes: category(10), datetime64[ns](1), float64(10), int64(3), object(2)
memory usage: 1.8+ MB